@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../Font/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../Font/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../Font/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../Font/Satoshi-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
h1,
h2 {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

h2 {
  font-weight: 400;
  font-size: 32px;
  font-family: 'IBM Plex Mono', monospace;
}

h1 {
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
}

p, a {
  font-family: 'Satoshi', sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.55;
  font-synthesis-weight: none;
}

br {
  display: block;
  margin-bottom: 10px;
  content: "";
}


